@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root {

    --first-color: #43607e; 
    --second-color: #34495E;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--first-color);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

header{
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--second-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--first-color);
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-family: inherit;
}

.search:focus{
    outline: 0;
    background-color: var(--first-color);
}

.search::placeholder{
    color: #181927;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 16px;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--second-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--first-color);
    padding: 6px 9px;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 16px;
    max-height: 100%;
    transform: translateY(101%);
    transition: 0.3s ease-in-out;
}

.movie:hover .overview{
    transform: translateY(0);
}




/* END OF CSS */